/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* FUNDO */
body {
  min-height: 100vh;
  background: linear-gradient(135deg, hsl(216, 33%, 97%), #D1EAF9);
}
header img {
  width: 45px;
  height: 45px;
  object-fit: contain;

}
/* HEADER */
header {
  height: 100px;              /* deixa mais alto */
  background: linear-gradient(90deg, #7f8cff, #a88beb);
  display: flex;
  align-items: center;
  padding: 0 40px;            /* mais espaço lateral */
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  color: white;
  font-weight: 800;           /* mais grosso */
  font-size: 28px;            /* texto maior */
  letter-spacing: 1px;        /* opcional: mais elegante */
}

header {
  gap: 12px; /* aumenta espaço entre logo e texto */
}

/* CONTAINER */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  min-height: calc(100vh - 70px);
  padding: 40px;
  flex-wrap: wrap;
}

/* ILUSTRAÇÃO */
.ilustracao {
  background: transparent; /* remove fundo branco */
  padding: 0;               /* remove espaço interno */
  border-radius: 0;         /* remove borda arredondada */
  box-shadow: none;         /* remove sombra */
}

.ilustracao img {
  width: 280px;
  display: block;
}

/* CARD */
.card {
  width: 360px;
  padding: 30px;
  border-radius: 24px;
  background: linear-gradient(180deg, #b48be3, #9b7edc);
  box-shadow: 0 15px 35px rgba(0,0,0,0.18);
  color: #222;
}

.card h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 700;
}

/* LABEL */
label {
  font-size: 13px;
  opacity: 0.9;
  display: block;
  margin-bottom: 5px;
  margin-top: 12px;
  color: #1f1f1f;
}

/* INPUT */
input {
  width: 100%;
  height: 42px;
  border: none;
  border-radius: 20px;
  padding: 0 15px;
  outline: none;
  font-size: 14px;
  background: #f1f1f1;
  transition: 0.2s;
}

input:focus {
  background: white;
  box-shadow: 0 0 0 2px rgba(120, 120, 255, 0.4);
}

/* BOTÃO */
button {
  width: 100%;
  height: 48px;
  margin-top: 25px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(135deg, #b6e388, #9fdc6e);
  cursor: pointer;
  transition: 0.25s;
  box-shadow: 0 6px 14px rgba(0,0,0,0.15);
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 22px rgba(0,0,0,0.25);
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .ilustracao img {
    width: 220px;
  }
}